.HeaderBtn {
	flex-basis: 100%;
	background-color: transparent;
	border: none;
	height: 3rem;
	color: white;
	font-size: 1.6rem;
	position: relative;
	text-transform: capitalize;
	border-top: 1px solid #000;
}

.HeaderBtn:not(:last-child) {
	border-right: 1px solid #000;
}

.HeaderBtn:focus {
	outline: none;
}

.active {
	background-color: #2d4b9d;
	filter: brightness(1.5);
}

.league {
	font-size: 1.4rem;
}
